$font-family-base: 'Roboto', system-ui, BlinkMacSystemFont, 'Segoe UI';

// Colors
$dark: #27282c !default;
$primary: #1fbba1 !default;
$primary--300: #2a9e8a !default;
$gray--700: #696969 !default;
$gray--900: #19191c !default;
$gray--200: #eaeaec !default;
$green-400: #a3e36c !default;

:root {
  --c-primary--300: #2a9e8a;
  --c-gray-700: #696969;
  --c-gray-900: #19191c;

  --font-heading: 'Noto Sans', Roboto, sans-serif;
  --font-sub-heading: Roboto, sans-serif;
}
